.BreezeButton {
	background-color: #f9f9f9;
	border: none;
	display: block;
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(-50%, -50%);
	>div {
		width: 50px;
		height: 50px;
		position: relative;
		>div {
			opacity: 0.5;
		}
	}
	span {
		display: none;
	}
}

.Title {
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 120px;
	height: 40px;
	transform: translate(-50%, -50%);
	font-size: 34px;
	padding: 3px;
	margin: 0;
	font-family: monospace;
	img {
		width: 34px;
		height: 34px;
		display: block;
		margin: auto;
	}
}

.RoundBlock {
	box-sizing: border-box;
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	animation-name: round-1;
	animation-duration: 3s;
	background-color: blue;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

.Round1 {
	width: 200%;
	height: 200%;
	animation-timing-function: cubic-bezier(0.3, 1.5, 0.9, 1.5);
}

.Round2 {
	width: 160%;
	height: 160%;
	animation-timing-function: cubic-bezier(0.6, 1, 0.9, 1);
}

.Round3 {
	width: 120%;
	height: 120%;
	animation-timing-function: cubic-bezier(0.9, 1, 0.9, 1);
}

.AfterClick {
	
	div {
		animation-name: round-2;
		animation-duration: 0.5s;
		animation-iteration-count: 1;
		animation-timing-function: ease;
	}
	p {
		display: none;
	}
}

@keyframes round-1 {
	0% { transform: scale(1.0) translate(-50%, -50%);}
	50% { transform: scale(1.2) translate(-40%, -40%); }
	100% { transform: scale(1.0) translate(-50%, -50%);}
}

@keyframes round-2 {
	0% { transform: scale(1) translate(-50%, -50%); }
	100% { transform: scale(0.5) translate(-100%, -100%); }
}


