.CardBody {
	box-sizing: border-box;
	width: 480px;
	margin: auto;
}

.Avatar {
	box-sizing: border-box;
	width: 160px;
	height: 160px;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0px 0px 5px #b0b0b0;
	padding: 6px;
	margin-top: 10px;
	margin-bottom: 32px;
	position: relative;
	div {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
	//	border: 1px solid black;
		border-radius: 50%;
		>img {
			display: block;
			box-sizing: border-box;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			//max-width: 100%;
		}
	}
	button {
		display: block;
		box-sizing: border-box;
		border: none;
		background-color: rgba(256, 256, 256, 0.99);
		box-shadow: 0px 0px 3px #b0b0b0;
		border-radius: 50%;
		position: absolute;
		width: 36px;
		height: 36px;
		right: 2px;
		bottom: 2px;
		padding: 6px;
		div {
			width: 100%;
			height: 100%;
			position: relative;
			img {
				width: 24px;
				height: 24px;
			}
			input {
				opacity: 0;
				position: absolute;
				width: 24px;
				height: 24px;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				cursor: pointer;
			}
		}
		
	}
}

.AddButton {
	box-sizing: border-box;
	width: 30%;
	position: relative;
}

.ChangeFromButton {
	color: red;
	background-color: #f9f9f9;
}

.AddFromButton {
	color: blue;
	left: 5px;
	text-decoration: none;
	background-color: #f9f9f9;
}

.AddedButton {
	color: #b0b0b0;
	left: 5px;
	text-decoration: none;
	background-color: #f9f9f9;
}

.AddFromButton, .ChangeFromButton, .AddedButton {
	width: 90px;
	height: 23px;
	box-sizing: border-box;
	border: none;
	left: 0;
	bottom: 0;
	position: absolute;
	text-decoration: underline;
	text-align: left;
	padding: 0 0 5px;
}

.FullName {
	word-break: break-all;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 37px;
	padding: 0 0 0 7px;
	border: none;
	border-bottom: 3px dotted #b0b0b0;
}

.Fname {
	overflow: hidden;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-top: 0px;
	width: 75%;
	height: 34px;
	//float: left;
	font-family: 'Montserrat';
	font-size: 26px;
}

.Views {
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 3px;
	width: 25%;
	height: 100%;
	float: right;
	min-width: 64px;
	div {
		width: 100%;
		height: 100%;
		img {
			float: right;
			display: block;
			width: 20px;
			padding: 0 3px 0 0;
		}
		span {
			float: right;
			display: block;
			padding: 0 7px 0 0;
			color: #b0b0b0;
		}
	}
}

.DefaultIntro {
	box-sizing: border-box;
	padding: 7px;
	button {
		box-sizing: border-box;
		width: 100%;
		height: 60px;
		border: 1px solid #b0b0b0;
		display: block;
		background-color: #f9f9f9;
	}
	div {
		box-sizing: border-box;
		text-align: center;
		padding: 20px 0;
		padding: 0;
		font-size: 1.2em;
		color: #b0b0b0;
		text-decoration: none;
	}
}

.Intro {
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding: 14px 7px;
}

.IntroText {
	box-sizing: border-box;
	width: 80%;
	height: 100%;
	float: left;
	word-wrap: break-word;
	span {
		display: block;
		width: 100%;
		text-align: left;
		text-overflow: ellipsis;
		//font-family: 'Amatic SC';
		font-weight: normal;
		font-size: 1.1em;
		color: #b0b0b0;
	}
}

.IntroChange {
	box-sizing: border-box;
	width: 20%;
	height: 100%;
	padding: 0;
	float: left;
	button {
		border: none;
		background-color: #f9f9f9;
		width: 100%;
	}
	img {
		display: block;
		width: 24px;
		float: right;
	}
}

.NoteWrapper {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 4px;
}

.IconBar {
	box-sizing: border-box;
	width: 100%;
	height: 44px;
	padding: 7px;
	div{
		height: 30px;
		float: left;
	}
	
	button {
		width: 48px;
		height: 30px;
		padding: 0;
		border: 0;
		background-color: #f9f9f9;
		img {
			display: block;
			width: 28px;
		}
	}

	span {
		display: block;
		box-sizing: border-box;
		padding-top: 8px;
		font-size: 14px;
		color: #b0b0b0;
		float: left;
	}
}

.Note {
	box-sizing: border-box;
	width: 100%;
	padding: 3px 7px 7px;
	border-radius: 10px;
}

.Line {
	font-size: 1.2em;
	color: black;
	word-break: break-all;
	a {
		color: #2b98ec;
	}
}

.Text {
	margin: 3px  0 3px;
	font-size: 1.2em;
	color: #b0b0b0;
}

.AddNote {
	box-sizing: border-box;
	width: 100%;
	margin-top: 24px;
	padding: 3px;
	height: 60px;
	a {
		box-sizing: border-box;
		display: block;
		height: 40px;
		width: 100%;
		color: #2b98ec;
		font-size: 1.2em;
		padding: 5px;
		div {
			padding: 2px 7px 0px 12px;
			text-decoration: underline;
			float: left;
			height: 36px;
		}
		img {
			float: left;
			width: 32px;
		}
	}
}

@media (max-width: 499px) {
	.CardBody {
		width: 100%;
	}

	.DefaultIntro, .Intro, .FullName, .Note, .IconBar, .AddNote{
		padding-left: 14px;
	}

	.Intro {
		padding-top: 10px;
		padding-bottom: 3px;
	}
	
	.IntroText {
		span {
			font-size: 16px;
		}
	}

	.Note {
		padding: 0 12px;
	}
	.Line {
		font-size: 1.1em;
	}
	.Text {
		font-size: 1.1em;
	}

	.IconBar {
		button { 
			img {
				width: 21px;
			}
		}
	}

	.NoteWrapper {
		padding: 5px;
	}

	.Fname {
		padding-top: 0px;
		font-size: 24px;
	}
}

@media (max-width: 299px) {

	.Views {
		div {
			span {
				padding: 0;
			}
		}
	}
}

@keyframes float-word {
	0% {
		transform: translate(0%, 0%);
	}
	100% {
		transform: translate(-50%, 0%);
	}
}
