.DigestSpec {
	box-sizing: border-box;
	display: block;
	padding: 7px 7px 0px;
	margin: 0px 3px;
	border-radius: 10px;
	position: relative;

	span {
		box-sizing: border-box;
		display: block;
		padding: 7px;
		font-size: 1.0em;
		color: #00000080;
	}
}
