.DigestSpec {
	box-sizing: border-box;
	display: block;
	padding: 7px;
	margin: 24px 3px;
	border: 1px solid #b0b0b0;
	border-radius: 5px;

	span {
		box-sizing: border-box;
		display: block;
		padding: 7px;
		font-size: 1.4em;
	}
}
