.DigestMail {
	box-sizing: border-box;
	width: 100%;
	padding: 7px;
	height: 54px;
	position: relative;
	input {
		box-sizing: border-box;
		display: block;
		width: 100%;
		height: 40px;
		padding: 7px;
		border: none;
		border-radius: 10px;
		background: #00000020;
		font-size: 22px;
		
		&:focus {
			outline: none;
			border-bottom: 2px solid #F9F9F9;
		}

		&::placeholder {
			color: #00000080;
			font-size: 14px;
			line-height: 12px;
		}
	}
}

.Captcha {
	position: absolute;
	box-sizing: border-box;
	top: 7px;
	right: 47px;
	width: 120px;
	height: 40px;
	background-color: #b0b0b0;
	img {
		width: 120px;
		height: 30px;
	}
}

.SendButton {
	position: absolute;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	top: 7px;
	right: 7px;
	border: 1px solid #00000080;
	div {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		padding: 9px;
		font-size: 16px;
		color: #00000080;
		text-align: center;
	}
	button {
		width: 100%;
		height: 100%;
		border: none;
		background-color: #00000020;
		font-size: 12px;
	}
}
