.HyperCardBody {
	box-sizing: border-box;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 480px;
	min-height: 240px;

	margin: auto;
}



.AddNoteForm {
	box-sizing: border-box;
	margin: 14px 0px;
	padding: 7px 14px;
	background-color: #00000020;
	
	animation-name: entry;
	animation-duration: 1s;

	position: relative;
	top: 0;
	left: 0;

	width: 100%;
	height: 130px;
	border-radius: 20px;

	color: #FFFFFFA0;

	span {
		width: 100%;
		font-size: 12px;
		display: block;
		margin-bottom: 7px;
	}

	input {
		display: block;
		box-sizing: border-box;
		width: 80%;
		max-width: 320px;
		height: 34px;
		background: none;
		border: none;
		border-bottom: 2px solid #FFFFFF60;
		padding: 0;
		color: #00000060;
		font-size: 16px;
		line-height: 14px;
		margin-bottom: 7px;

		&:focus {
			outline: none;
			border-bottom: 2px solid #F9F9F9;
		}

		&::placeholder {
			color: #00000080;
			font-size: 14px;
			line-height: 12px;
		}
	}
}

.AddNoteButton {
	position: absolute;
	top: 0;
	right: 0;

	width: 80px;
	height: 100%;
	opacity: 1;
	
	transition: height 0.6s, opacity 0.1s;
	button {
		display: block;
		width: 100%;
		height: 100%;
		border: none;
		position: relative;
		top: 0;
		left: 0;
		
		background: none;
		div {
			width: 5px;
			height: 60%;
			background-color: #f9f9f9;
			border-radius: 3px;
			position: absolute;
			
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}


.DeleteZone {
	box-sizing: border-box;
	padding: 14px;

	position: relative;
	top: 0;
	left: 0;

	width: 100%;
	margin: 14px auto 14px;
	transition: transform .6s;
	height: 130px;
	border-radius: 20px;
	border: 5px dotted #00000020;

	color: #00000020;
}

.ListPlace {
	box-sizing: border-box;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

.NoteBlock {
	box-sizing: border-box;
	width: 100%;
	min-height: 100px;
	padding: 14px 0;
	transition: transform .9s, top .2s;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;

	div {
		padding: 10px 14px 14px;
		border-radius: 20px;
		background-color: #00000020;
		box-sizing: border-box;
		pointer-events: none;
		width: 100%;
		min-height: 80px;

		p {
			margin: 7px 0;
			color: #DE7A81;
		}
	}
}

.NoteLine {
	width: 100%;
	height: 20px;
	font-size: 16px;
	color: #f9f9f9 !important;

	a {
		color: #f9f9f9 !important;
	}
}

.NotesList {
	position: relative;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

.NoteItem {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 110px;

	padding: 14px 0;

	background-color: #00000000;
	transition: transform .6s, top .2s;
}

.NoteBox {
	box-sizing: border-box;
	width: 100%;
	min-height: 80px;
	max-height: 100%;
	padding: 7px 14px;
	border-radius: 20px;
	background-color: #00000020;
	pointer-events: none;
}

.NoteDescription {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	color: #FFFFFFA0;
	font-size: 12px;
	overflow: hidden;
}

.NoteLink {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	color: #f9f9f9;
	font-size: 18px;
	word-wrap: break-word;
	overflow: hidden;
}

.Rocket {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	
	box-sizing: border-box;
	width: 100%;
	min-height: 80px;
	max-height: 100%;
	padding: 7px 14px;
	border-radius: 20px;
	background-color: #00000020;
	//pointer-events: none;

	color: #f9f9f9;
	font-size: 18px;

	animation-name: rocket;
	animation-duration: 1s;
}

@media (max-width: 499px) {
	.HyperCardBody {
		width: 90%;
	}
}


@keyframes rocket {
	0% {
		opacity: 0.6;
		top: 130px;
	}
	100% {
		opacity: 1;
		top: 100%;
	}
}
