.HyperCardTop {
	box-sizing: border-box;
	position: relative;
	top: 0;
	left: 0;
	
	width: 480px;
	height: 200px;
	margin: auto;
	padding: 7px;

	touch-action: manipulation;
}

.MoreButtonBlock {
	margin-top: 3px;
	button {
		display: block;
		background: none;
		border: none;
		width: 16px;
		padding: 4px;
		img {
			width: 8px;
		}
	}
}

.ImageBlock {
	box-sizing: border-box;
	position: absolute;
	top: 45px;
	left: 7px;
	width: 140px;
	height: 140px;
	cursor: pointer;


	button {
		position: relative;
		top: 0;
		left: 0;
		background: none;
		background-color: #DE7A81;
		border: none;

		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		overflow: hidden;
		border: 3px solid #f9f9f9;
		box-shadow: 0px 0px 10px #00000030;
		
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		input {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			opacity: 0;
		}
	}
}

.MessageBlock {
	box-sizing: border-box;
	position: absolute;
	top: 10px;
	left: 150px;
	width: calc(100% - 170px);
	max-width: 240px;
	height: 89px;

	span {
		font-size: 16px;
	}

	textarea {
		display: block;
		box-sizing: border-box;
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 7px 14px;
		width: 100%;
		height: 100%;
		border: none;
		font-family: 'Manrope';
		font-size: 16px;
		line-height: 20px;
		overflow: hidden;
		border-radius: 20px 20px 20px 1px;
		background-color: #f9f9f9;
		box-shadow: 0px 0px 10px #00000030;
		text-decoration: none;
		resize: none;
		&:focus {
			font-weight: bold;
			outline-style: solid;
			outline-color: #FF0;
			outline-width: 3px;
		}
		animation-name: message;
		animation-duration: .8s;
		animation-timing-function: cubic-bezier(0.3, 0, 0.6, 2);
		
	}

	button {
		display: block;
		position: absolute;
		bottom: 7px;
		right: 7px;
		width: 24px;
		height: 24px;
		border: 1px solid #b0b0b0;
		border-radius: 50%;
	}
}

.ButtonBlock {
	box-sizing: border-box;
	position: absolute;
	top: 185px;
	left: 140px;
	width: 38px;
	height: 38px;
	transform: translate(-100%, -100%);
	box-shadow: 0px 0px 4px #00000060, 0px 0px 10px #00000060;
	border-radius: 50%;
	cursor: pointer;

	
	button {
		position: relative;
		top: 0;
		left: 0;
		background: none;
		background-color: #f9f9f9F0;
		border: none;

		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		padding: 11px;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 16px;
			height: 16px;
		}
	}
}

.QRmodal {
	position: absolute;
	top: 130px;
	left: 15px;
	width: 90%;
	max-width: 480px;
	min-height: 320px;
	background-color: #f9f9f9;
	border: none;
	border-radius: 20px;
	z-index: 10;
	padding: 7px 14px 21px;
	box-shadow: 0px 0px 4px #00000090, 0px 0px 10px #00000060;

	animation-name: qropen;
	animation-duration: .6s;
	cursor: pointer;
}

.QRbox {
	>h1 {
		font-family: 'Montserrat';
		font-size: 24px;
		color: #000;
		animation-name: qrhead;
		animation-duration: .6s;
	}
}

.QR {
	width: 80%;
	margin: auto;
	margin-bottom: 14px;
	background-color: #f9f9f9;
}

@media (max-width: 499px) {
	.HyperCardTop {
		width: 96%;
	}
	.MessageBlock {
		span {
			font-size: 12px;
		}
	}
}

@keyframes message {
	0% {
		width: 0;
		height: 0;
		font-size: 1px;
	}
	100% {
		width: 100%;
		height: 100%;
		font-size: 16px;
	}
}

@keyframes qropen {
	0% {
		top: 15px;
		left: 110px;
		width: 40px;
		transform: scale(0.1);
		opacity: 0;
	}
	100% {
		top: 130px;
		left: 15px;
		width: calc(100% - 30px);
		transform: scale(1.0);
		opacity: 1;
	}
}

@keyframes qrhead {
	0% {
		font-size: 12px;
	}
	100% {
		font-size: 24px;
	}
}
