.HyperCardWrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	touch-action: manipulation;
	overscroll-behavior-y: none;
}

.Child {
	box-sizing: border-box;
	width: 720px;
	min-height: 100%;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 60px;
	background: none;
	animation-name: invite;
	animation-duration: 1.0s;
	position: relative;
	top: 0;
	left: 0;

	touch-action: manipulation;
	overscroll-behavior-y: none;
}

.BgBox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: none;
	z-index: -1;
	
	touch-action: manipulation;
	overscroll-behavior-y: contain;
}

.BgRound {
	position: absolute;
	display: block;
	background-color: #f9f9f9;
	border-radius: 50%;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;

	transform: translate(-50%, -50%);
	animation-name: bground;
	animation-duration: 0.8s;
	z-index: -3;
}

.FootPhrase {
	box-sizing: border-box;
	width: 100%;
	padding: 7px;
	text-align: center;
	padding-bottom: 21px;
	pointer-events: none;
	p {
		padding: 0;
		margin: 0;
		color: #00000080;
		font-size: 14px;
		font-family: 'Montserrat';
	}
}

.FootCopyright {
	box-sizing: border-box;
	width: 104%;
	max-width: 480px;
	height: 60px;
	padding: 7px 21px;
	text-align: center;
	background-color: #00000020;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 0px;
	//box-shadow: 0px 0px 6px #00000060;
	border-radius: 3px;

	img {
		display: inline-block;
		width: 46px;
		float: left;
	}

	span {
		display: inline;
		float: left;
		padding: 14px;
		color: #f9f9f9;
		font-size: 12px;
	}
}
@media (max-width: 720px) {
	.Child {
		width: 96%;
	}
}


@keyframes invite {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes bground {
	0% {
		width: 10px;
		height: 10px;
	}
	100% {
		width: 300%;
		height: 300%;
	}
}
