.List {
	box-sizing: border-box;
	width: 480px;
	margin: auto;
	padding-top: 27px;
	font-family: monospace;
}

.HeadingList {
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 7px;
	h1 {
		height: 30px;
		float: left;
		margin: 0;
		padding: 0;
		color: #b0b0b0;
		font-size: 1.3em;
		font-family: 'Courier New';
		font-weight: lighter;
	}
}

.ListNode {
	display: inline-block;
	height: 20px;
	text-align: left;
	padding: 7px;
	color: black;
	font-family: monospace;
	font-weight: lighter;
	font-size: 1.1em;
	a {
		text-decoration: none;
		font-family: 'Courier New';
		color: #b0b0b0;
	}
}

@media (max-width: 499px) {
	.List {
		width: 100%;
		padding-left: 9px;
	}

}
