.ImageWrapper {
	box-sizing: border-box;
	width: 720px;
	margin: auto;
	padding: 10px;
	img {
		width: 700px;
	}
}

.MarketBlock {
	box-sizing: border-box;
	max-width: 720px;
	min-height: 60px;
	padding: 14px;
	margin: auto;
	margin-bottom: 14px;
	background: linear-gradient(to left, #f9f9f900, #29A7D9C0);
	border-radius: 14px;
	color: black;
	h3 {
		padding: 0;
		margin: 0;
		font-size: 14px;
	}
	span {
		display: inline-block;
		margin: 7px 0px 0px;
		background-color: #f9f9f9C0;
		padding: 7px 14px;
		border: 3px solid #29A7D9;
		border-radius: 20px;
		font-size: 18px;
		text-decoration: underline;
		color: #29A7D9;
		font-family: 'Play';
	}
}

.Footer {
	width: 100%;
	height: 140px;
	margin-top: 140px;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	a {
		font-size: 20px;
		color: #29A7D9;
	}
}

@media (max-width: 699px) {
	.ImageWrapper {
		width: 499px;
		img {
			display: block;
			width: 499px;
		}
	}
}

@media (max-width: 499px) {
	.ImageWrapper {
		width: 100%;
		img {
			display: block;
			max-width: 100%;
		}
	}
}
