.Modal {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 10%;
	width: 80%;
	max-width: 660px;
	box-sizing: border-box;
	display: none;
	margin: auto;
	min-height: 480px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 0px 10px #b0b0b0;
}


@media (max-width: 499px) {
	.Modal {
		top: 10%;
		width: 94%;
	}
}
