.Texture {
	box-sizing: border-box;
	width: 720px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 20px;
	//padding: 10px 0px;
	font-size: 18px;
	color: #00000080;

	>div {
		margin-top: 15px;
		margin-bottom: 15px;
		color: #00000080;
	}

	span {
		display: inline-block;
		padding: 5px;
		margin: 0;
		font-size: 16px;
		margin-top: 2px;
		color: #F28B0C;
		border: 2px solid #29A7D9;
		border-radius: 5px;
	}

	p {
		padding-top: 5px;
		margin: 0;
		color: #00000080;
	}

	a {
		color: #29A7D9;
	}

	img {
		display: block;
		width: 100%;
	}
}

@media (max-width: 699px) {
	
	.Texture {
		width: 95%;
		font-size: 1.2em;
		span {
			font-size: 1.0em;
		}
	}
	
}

@media (max-width: 499px) {

	.Texture {
		font-size: 16px;
	}
	
}
